# AI API
OPENAI_API_KEY=your-api-key-here
AI_BASE_URL=https://api.deepseek.com
AI_MODEL=deepseek-chat

# WeChat Official Account
WECHAT_APPID=
WECHAT_SECRET=
WECHAT_PROXY_URL=http://124.221.114.126:8443/cgi-bin/

# Database
DATABASE_URL=file:./dev.db
